@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    text-decoration: none
}
body{
    font-family: 'Julius Sans One', sans-serif;
    --color1: #FFF;
    --color2: #050505;
}