@media only screen and (max-width: 768px){
    .grid2{
        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        grid-template-areas: 
        "produc1 produc2 produc3"
        "produc4 produc5 produc6"
        "produc7 produc8 produc9"
        "produc10 produc11 produc12"
        "produc10 produc13 produc14"
        "produc15 produc16 produc16"
        ;
        gap: 2em 1em;
            img{ 
                width: 110px;
                height: 220px;
                margin-bottom: 10px;
            }
            a{
                background-color: var(--color2);
                color: var(--color1);
                padding: 7px;
                border-radius:12px ;
                margin-bottom: 10px;
                font-size: 10px;
            }
            p{
            font-size: 10px;
            }
            .element10 img{
                    height: 100%;
            }
            .element16 img{
                width: 100%;
            }
        }
 } 