/* ----------- NOVEDADES ---------------- */
#novedades{ 
    align-content: center;
        .caja-novedades{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 30px;
                img{
                    width: 350px;
                    height: 450px;
                    padding-bottom: 20px;
                }
                h1{
                    padding-bottom: 20px;
                }
                a{
                    background-color: var(--color2);
                    color: var(--color1);
                    padding: 7px;
                    border-radius:12px ;
                    margin-bottom: 60px;
                    display: inline-block;
                    vertical-align: middle;
                    -webkit-transform: perspective(1px) translateZ(0);
                    transform: perspective(1px) translateZ(0);
                    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                    position: relative;
                }
                a:before {
                    content: '';
                    position: absolute;
                    border: rgb(7, 7, 7) solid 4px;
                    border-radius: 12px;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    -webkit-transition-duration: 0.3s;
                    transition-duration: 0.3s;
                    -webkit-transition-property: top, right, bottom, left;
                    transition-property: top, right, bottom, left;
                }
                a:hover:before,  a:focus:before, a:active:before {
                    top: -8px;
                    right: -8px;
                    bottom: -8px;
                    left: -8px;
                }
        }
}
/* ----------- CARRUSEL ---------------- */
#contenedorCarrusel{
    margin-bottom: 80px;
}
.carousel {
    width: 400px;
    height: 400px;
    margin: auto;
    overflow: hidden;
}
.carousel-inner {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
}

.carousel img {
    width: 250px;
    height:350px;
    margin-left: 80px;
    margin-top: 25px;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    transform: translateY(-260%);
    font-size: 2rem;
    color: rgb(8, 8, 8);
    cursor: pointer;
    display: flex;
    align-items: center;
}
.carousel-control-prev img,
.carousel-control-next img{
    width: 50px;
    height: 50px;
}
.carousel-control-prev {
    left: 200px;
}
.carousel-control-next {
    right: 280px;
}
 /* ----------- SECCION DEL MONEDERO ---------------- */
 #monederos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
        .info-monedero{
        display: flex;
        flex-direction: column;
        width: 450px;
        text-align: center;
        line-height: 28px; 
    }
        .img-monedero{
        width: 400px;
        height: 400px;
        background-image: url("../img/monederos/monedero-boton.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        a{
            background-color: var(--color2);
            color: var(--color1);
            padding: 7px;
            border-radius:12px ;
            margin-bottom: 15px;
            display: inline-block;
            vertical-align: middle;
            -webkit-transform: perspective(1px) translateZ(0);
            transform: perspective(1px) translateZ(0);
            box-shadow: 0 0 1px rgba(0, 0, 0, 0);
            position: relative;
        }
        a:before {
            content: '';
            position: absolute;
            border: rgb(7, 7, 7) solid 4px;
            border-radius: 12px;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            -webkit-transition-duration: 0.3s;
            transition-duration: 0.3s;
            -webkit-transition-property: top, right, bottom, left;
            transition-property: top, right, bottom, left;
        }
        a:hover:before,  a:focus:before, a:active:before {
            top: -8px;
            right: -8px;
            bottom: -8px;
            left: -8px;
        }
    }
 }
 /* ----------- SECCION HISTORIA ---------------- */
 #historia{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 60px;
        .contenedorHistoria{
            display: flex;
            flex-direction: column;
            width: 550px;
            text-align: center;
            line-height: 28px; 
            margin-bottom: 45px;
            a{
                background-color: var(--color2);
                color: var(--color1);
                padding: 7px;
                border-radius:12px ;
                margin-bottom: 10px;
                display: inline-block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                position: relative;
            }
            a:before {
                content: '';
                position: absolute;
                border: rgb(7, 7, 7) solid 4px;
                border-radius: 12px;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                -webkit-transition-duration: 0.3s;
                transition-duration: 0.3s;
                -webkit-transition-property: top, right, bottom, left;
                transition-property: top, right, bottom, left;
            }
            a:hover:before,  a:focus:before, a:active:before {
                top: -8px;
                right: -8px;
                bottom: -8px;
                left: -8px;
            }
            .botonHistoria{
                margin-top: 20px;
            }
    }
}
 
